<h1><%= @task.name %></h1>

<h2>子タスク</h2>
<%= render_task_tree(@task.child_tasks) %>

<%= link_to "← 戻る", tasks_path %>
<%= link_to "このタスクを削除", task_path(@task), method: :delete, data: { confirm: "削除しますか？" } %>
